{% extends 'NewsPage/base.html' %}

{% block title %} News Home {% endblock %}

{% block content %}
    <ul>
        {% for article in articles %}
            <li>
                <div class="article">
                    <h1><a href="{% url 'article_detail' pk=article.pk %}">{{ article.title }}</a></h1>
                    <p>Author: {{ article.creator }}</p>
                    <p>{{ article.content|linebreaksbr }}</p>
                    <p class="date">Created: {{ article.created_at }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
